# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

VENDOR = "dragino"

BBLAYERS ?= " \
  ##OEROOT##/metas/openembedded-core/meta \
  ##OEROOT##/metas/meta-openembedded/meta-networking \
  ##OEROOT##/metas/meta-openembedded/meta-filesystems \
  ##OEROOT##/metas/meta-openembedded/meta-oe \
  ##OEROOT##/metas/meta-openembedded/meta-python \
  ##OEROOT##/metas/mender/meta-mender-core \
  ##OEROOT##/metas/meta-dragino-lgw/meta-dragino-basic \
  ##OEROOT##/metas/meta-dragino-lgw/meta-dragino-pg308 \
  ##OEROOT##/metas/meta-raspberrypi \
  "
